<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class='ui container '>
 <h1>I EAT THE BREADS</h1>
<button class="ui primary button ">GIVE ME BREAD</button>

</div>

    </div>

</body>
</html>